* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 5rem;
}

button {
    width: 8rem;
    padding: .3rem .5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background: rgb(24, 208, 24);
    border: 2px solid rgb(24, 208, 24);
}

input {
    text-transform: lowercase;
    font-size: 1.2rem;
    width: 40ch;
    padding: .3rem;
    margin-bottom: .1rem;
}

button:hover {
    background: rgb(55, 231, 55);
    border: 2px solid rgb(55, 232, 55);
}

#delete-btn {
    background: white;
    color: rgb(24, 208, 24);
    border: 2px solid rgb(24, 208, 24);
}

ul {
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    color: green;
}
