* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh;
}

.counter-app {
    border-bottom: 2px solid blue;
    border-right: 2px solid black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#counter {
    font-size: 12rem;
    margin: 1rem 0;
}

.edit-button button {
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}

.edit-button button:hover {
    background: blue;
    color: white;
}

.calculator-app {
    flex: 1;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    border-bottom: 2px solid red;
}

.numbers {
    display: flex;
    margin: 2rem 0;
    font-size: 4rem;
    justify-content: space-between;
    width: 70%;
}

.operator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operator button {
    font-size: 1rem;
    border: none;
    padding: .5rem .6rem;
    cursor: pointer;
}

.numbers p {
    margin: 0 .5rem;
}

.operator button:hover {
    background: red;
    color: white;
}

.blackjack {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
    gap: 1rem;
    border-left: 2px solid black;
}

.blackjack h1 {
    font-size: 3rem;
    color: blue;
}

.blackjack h1:hover {
    color: orange;
    transition: all .2s linear;
}

.blackjack p {
    font-size: 1.5rem;
    transition: all .2s linear;
}

.blackjack button {
    /* margin-top: 2rem; */
    padding: .5rem 0;
    width: 10rem;
    font-size: 1rem;
    background: none;
    border: 3px solid orange;
    cursor: pointer;
    transition: all .2s linear;
    font-weight: 700;
}

.blackjack button:hover {
    background: orange;
    color: white;
}